{% extends "::base.html.twig" %}

{% trans_default_domain 'FamilyUserBundle' %}

{% block header_body %}
<div class="col-12 col-lg-12">
    <div class="col-12 col-lg-1"></div>
    <div class="col-12 col-lg-10">
        <h3> {{ 'profile.show.body_header'|trans }}</h3>
        <div class="header-text text-margin">{{ 'profile.show.text_header'|trans }}</div>
    </div>
    <div class="col-12 col-lg-1"></div>
    <div class="clear"></div>
</div>
{% endblock header_body %}

{% block body %}
<div class="row">
    <div class="col-12 col-lg-10 col-lg-offset-1">
    {% include "FamilyUserBundle:Profile:edit_content.html.twig" %}
    </div>
</div>
    {{ render(controller('FamilyUserBundle:Default:footer', { 'max': 1 })) }}
{% endblock body %}