{% extends "::layout.html.twig" %}

{% block title %}Modification d'un utilisateur{% endblock %}

{% block fos_user_content %}
    <h2>Modification de l'utilisateur</h2>
{% include "KaliBackUserBundle:User:edit_content.html.twig" %}
{% endblock fos_user_content %}
