{% extends "::layout.html.twig" %}

{% block title %}Création d'un utilisateur{% endblock %}

{% block fos_user_content %}
    <h2>Création d'un utilisateur</h2>
{% include "KaliBackUserBundle:User:new_content.html.twig" %}
{% endblock fos_user_content %}
