{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
    {{ subject }}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <div style="color:red">
            {{ content|raw }}
        </div>
    </body>
</html>

{% endblock %}